@model SampleProject.Models.LoginModel

@{
    Layout = null;


}


<!-- online-fonts -->
@*@Scripts.Render("~/bundles/Login")
    @Scripts.Render("~/bundles/jquery")*@


@using (Html.BeginForm())
{@Html.AntiForgeryToken()

@*<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @ViewBag.Message

        <div class="form-group">
            @Html.TextBoxFor(m => m.userName, new { id = "User", @class = "form-control", @placeholder = "UserName", autocomplete = "off", @Type = "userName", required = "required" })
            @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.password, new { id = "password", @class = "form-control", @placeholder = "password", autocomplete = "off", @Type = "password", required = "required" })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" onclick="CheckExistence();" />
            </div>
        </div>
    </div>*@

    <style>

        h3{
            color:grey;
            text-decoration-style:wavy;
        }
        #main-content {
            background-color: #2c445a;
            background-image: url('../../smart_login/web/images/bg3.jpg');
        }
        .wrapper {
            position: fixed;
            width: 50%; /* Set your desired with */
            z-index: 1; /* Make sure its above other items. */
            top: 40%;
            left: 35%;
            margin-top: -10%; /* Changes with height. */
            margin-left: -10%; /* Your width divided by 2. */
            /* You will not need the below, its only for styling   purposes. */
            padding: 10px;
            border: 2px solid #555555;
            background-color: ghostwhite;
            border-radius: 5px;
            text-align: center;
        }

    </style>

<section id="main-content">
    <section class="wrapper">
        <h3>Register</h3>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    @Html.Label("userName")
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.userName, new { id = "User", @class = "form-control", autocomplete = "off",placeholder = "User Name", @required = "required" })
                    @Html.ValidationMessageFor(model => model.userName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    @Html.Label("Password")
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.password, new { id = "password", @class = "form-control", autocomplete = "off", placeholder = "Password", @required = "required" })
                    @Html.ValidationMessageFor(model => model.password)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    @Html.Label("First Name")
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.FirstName, new { id = "TxtFirstName", @class = "form-control", autocomplete = "off",placeholder = "First Name", @required = "required" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    @Html.Label("Last Name")
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.LastName, new { id = "Txtlastname", @class = "form-control", autocomplete = "off", placeholder = "Last Name", @required = "required" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    @Html.Label("Middle Name")
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.MiddleName, new { id = "Txtmiddlename", @class = "form-control", autocomplete = "off",placeholder = "Middle Name", @required = "required" })
                    @Html.ValidationMessageFor(model => model.MiddleName)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-2">
                    @Html.Label("MobileNo")
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.MobileNO, new { id = "TxtmobileNo", @class = "form-control", autocomplete = "off",placeholder = "MobileNO", @required = "required" })
                    @Html.ValidationMessageFor(model => model.MobileNO)

                </div>
            </div>


        </div>

        <div class="row">
           
            <div class="form-group">
                <div class="col-md-2">
                    @Html.Label("Address")
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Address, new { id = "Txtaddress", @class = "form-control", autocomplete = "off",placeholder = "Address", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <span><input type="submit" value="Create" class="btn btn-default" onclick="CheckExistence();" /> @Html.ActionLink("Login", "Login")</span>
                </div>
            </div>
            </div>
    </section>
</section>





}


